<script src="{{ 'index.js' | asset_url }}" defer="defer"></script>

{{ 'index.css' | asset_url | stylesheet_tag }}
<style>
	#superscale-chat {
		position: fixed;
		bottom: 0;
		right: 0;
		overflow: visible;
		z-index: 999;
	}
</style>

<div id="superscale-chat"></div>

{% schema %}
{
	"name":"Superscale Chat",
	"target": "body"
}
{% endschema %}

